body {
     background-image: url("images/night_sky3.jpg"); /*what do you think??Too much?*/
}

.logo {
    margin-top: 40px; /*this can be changed to 40 + however wide the menu is */
    margin-left: 20px; 
    flex-direction: row;
}

h1, h2, h3 {
  font-weight: 600;
  background-image: linear-gradient(to left, #ECAF00, #DAA100);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  /*width: 90%;*/
      text-align: center;

}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
}

h3 {
  font-size: 20px;
  font-style: italic;
}

.content {
    /*margin-top: 0px; /*this should also have the width of the menu added */
  width: 60%; /*Responsive design*/
  height: auto;
  position: absolute;
  /*it can be fixed too*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width: 100%;
  max-height: 100%;
  color: #000000;
  /*background-color: #36004B;*/

}

.parent-content {
    position: relative;
}

ul {
    list-style-type: disc;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #797979;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #797979;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.words-within-content {
    width: 85%; /*Responsive design*/
    height: auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    margin: auto;
}

/* Navegation Menu Bar */
.bg-dark {
  /*background-color: #66097a !important;*/
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

.nav-item {
  text-align: center;
  margin: 20px;
    /*background-color: #b393d3;*/
}

.container {
  width: 70%;
  margin: 3rem auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: .5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}

.left-sidebar {
    height: 100%;
width: 150px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: #BABABA;
}

.left-sidebar div {
padding: 8px;
font-size: 24px;
display: block;
color: #000000;
}

.body-text {
margin-left: 150px;
font-size: 18px;
}