* {
    /*background-color: #66097a;*/
}

.logo {
    margin-top: 40px; /*this can be changed to 40 + however wide the menu is */
    margin-left: 20px; 
    flex-direction: row;
}

h1 {
      font-size: 60px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.content {
    /*margin-top: 0px; /*this should also have the width of the menu added */
    /*background-color: #36004B;*/
  width: 800px;
  height: 1000px;
  position: absolute;
  /*it can be fixed too*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width: 100%;
  max-height: 100%;
  /*overflow: auto;*/
  color: #FFFFFF;
  background-color: #36004B;

}

.parent-content {
    position: relative;
}

ul {
    list-style-type: disc;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #B7B7B7;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.words-within-content {
    width: 700px;
    height: 900px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
}